.github/workflows/parameters/ARMTemplateForFactory.prod.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adf-cic-crm-dev-001"
        },
        "AKV_CRM_001_properties_typeProperties_baseUrl": {
            "type": "string",
            "defaultValue": "https://kv-cic-crm-dev.vault.azure.net/"
        },
        "FUNC_CRM_002_INTEREST_properties_typeProperties_functionAppUrl": {
            "type": "string",
            "defaultValue": "https://func-cic-crm-dev-002.azurewebsites.net"
        },
        "FUNC_CRM_002_MEMBER_properties_typeProperties_functionAppUrl": {
            "type": "string",
            "defaultValue": "func-cic-crm-dev-002.azurewebsites.net"
        },
        "FUNC_CRM_002_MEMBERCPD_properties_typeProperties_functionAppUrl": {
            "type": "string",
            "defaultValue": "func-cic-crm-dev-002.azurewebsites.net"
        },
        "PSQL_CRM_APP_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "pg-cic-crm-dev-01.postgres.database.azure.com"
        },
        "PSQL_CRM_APP_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "@{linkedService().database_name}"
        },
        "PSQL_CRM_APP_properties_typeProperties_username": {
            "type": "string",
            "defaultValue": "cic_crm_pg_admin"
        },
        "STA_CRM_001_properties_typeProperties_serviceEndpoint": {
            "type": "string",
            "defaultValue": "https://staciccrmdev001.blob.core.windows.net/"
        },
        "MPE-PSQL_CRM_001_properties_privateLinkResourceId": {
            "type": "string",
            "defaultValue": "/subscriptions/2c349f16-c9e8-4662-b25b-453d175bee12/resourceGroups/rg-cic-crm/providers/Microsoft.DBforPostgreSQL/flexibleServers/pg-cic-crm-dev-01"
        },
        "MPE-PSQL_CRM_001_properties_groupId": {
            "type": "string",
            "defaultValue": "postgresqlServer"
        },
        "MPE-STA_CRM_001_properties_privateLinkResourceId": {
            "type": "string",
            "defaultValue": "/subscriptions/2c349f16-c9e8-4662-b25b-453d175bee12/resourceGroups/rg-cic-crm/providers/Microsoft.Storage/storageAccounts/staciccrmdev001"
        },
        "MPE-STA_CRM_001_properties_groupId": {
            "type": "string",
            "defaultValue": "blob"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_1000_COPY_ICLUB_UAT')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Members",
                        "type": "Copy",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Hashtag - Interest",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzurePostgreSqlSource",
                                "partitionOption": "None",
                                "queryTimeout": "02:00:00"
                            },
                            "sink": {
                                "type": "AzurePostgreSqlSink",
                                "writeBatchSize": 1000000,
                                "writeBatchTimeout": "00:30:00",
                                "preCopyScript": "truncate table iclub.r_members;",
                                "writeMethod": "BulkInsert"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_PSQL_CRM",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database_name": "iclub",
                                    "schema_name": "raw",
                                    "table_name": "r_members"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_PSQL_CRM",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database_name": "crm",
                                    "schema_name": "iclub",
                                    "table_name": "r_members"
                                }
                            }
                        ]
                    },
                    {
                        "name": "MemberCPD",
                        "type": "Copy",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Members",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzurePostgreSqlSource",
                                "partitionOption": "None",
                                "queryTimeout": "02:00:00"
                            },
                            "sink": {
                                "type": "AzurePostgreSqlSink",
                                "writeBatchSize": 1000000,
                                "writeBatchTimeout": "00:30:00",
                                "preCopyScript": "truncate table iclub.r_member_cpd;",
                                "writeMethod": "BulkInsert"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_PSQL_CRM",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database_name": "iclub",
                                    "schema_name": "raw",
                                    "table_name": "r_member_cpd"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_PSQL_CRM",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database_name": "crm",
                                    "schema_name": "iclub",
                                    "table_name": "r_member_cpd"
                                }
                            }
                        ]
                    },
                    {
                        "name": "Hashtag - Interest",
                        "type": "Copy",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzurePostgreSqlSource",
                                "query": "select * from raw.r_hashtag\nwhere (\"IsForCorpMember\" = True OR \"IsForIndivMember\" = True) and \"Status\" = True;",
                                "partitionOption": "None",
                                "queryTimeout": "02:00:00"
                            },
                            "sink": {
                                "type": "AzurePostgreSqlSink",
                                "writeBatchSize": 1000000,
                                "writeBatchTimeout": "00:30:00",
                                "preCopyScript": "truncate table iclub.r_hashtag;",
                                "writeMethod": "BulkInsert"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_PSQL_CRM",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database_name": "iclub",
                                    "schema_name": "raw",
                                    "table_name": "r_hashtag"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_PSQL_CRM",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database_name": "crm",
                                    "schema_name": "iclub",
                                    "table_name": "r_hashtag"
                                }
                            }
                        ]
                    },
                    {
                        "name": "Hashtag - Interest_copy1",
                        "type": "Copy",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "additionalColumns": [
                                    {
                                        "name": "adf_datetime",
                                        "value": {
                                            "value": "@convertFromUtc(utcNow(),'China Standard Time' )",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "sqlReaderQuery": "SELECT * FROM dbo.Hashtag\nWHERE IsForCorpMember = 1 OR IsForIndivMember = 1;",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "AzurePostgreSqlSink",
                                "writeBatchSize": 1000000,
                                "writeBatchTimeout": "00:30:00",
                                "preCopyScript": "truncate table iclub.s_hashtag;",
                                "writeMethod": "BulkInsert"
                            },
                            "enableStaging": false
                        },
                        "outputs": [
                            {
                                "referenceName": "DS_PSQL_CRM",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Script-dim_salute_type",
                        "type": "Script",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "MemberCPD",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "PSQL_CRM_APP",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "database_name": "crm"
                            }
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": "\nTRUNCATE TABLE iclub.dim_salute_type;\nINSERT INTO iclub.dim_salute_type (id, code, name)\nSELECT \n    a.id,\n    v.code,\n    v.name\nFROM (VALUES \n    ('0', '(Please select)'),\n    ('1', 'Ir'),\n    ('2', 'Sr'),\n    ('3', 'Ar.'),\n    ('4', 'Prof.'),\n    ('5', 'Dr.'),\n    ('6', 'Mr.'),\n    ('7', 'Mrs.'),\n    ('8', 'Ms.'),\n    ('9', 'Miss')\n) AS v(code, name)\nLEFT JOIN app.dim_title AS a \n    ON a.name = v.name\nON CONFLICT (code) DO NOTHING;"
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    },
                    {
                        "name": "Script-dim_account_status",
                        "type": "Script",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Script-dim_salute_type",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "PSQL_CRM_APP",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "database_name": "crm"
                            }
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": "TRUNCATE TABLE iclub.dim_account_status;\n\nINSERT INTO\n    iclub.dim_account_status (id, code, name)\nSELECT a.id, v.code, v.name\nFROM (VALUES\n    ('0', 'Pending'),\n    ('1', 'Active'),\n    ('2', 'Expired'),\n    ('3', 'Inactive')\n    ) AS v (code, name)\n    JOIN app.dim_account_status AS a ON a.name = v.name\nON CONFLICT (code) DO NOTHING;"
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    },
                    {
                        "name": "Script-dim_preferred_language",
                        "type": "Script",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Script-dim_account_status",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "PSQL_CRM_APP",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "database_name": "crm"
                            }
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": "\nTRUNCATE TABLE iclub.dim_preferred_language;\n\nINSERT INTO\n    iclub.dim_preferred_language (id, code, name)\nSELECT a.id, v.code, v.name\nFROM (VALUES     \n    ('en-hk', 'English'),\n    ('zh-hk', 'Chinese (Traditional)'),\n    ('zh-cn', 'Chinese (Simplified)')\n    ) AS v (code, name)\n    JOIN app.dim_language AS a ON a.name = v.name\nON CONFLICT (code) DO NOTHING;"
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    },
                    {
                        "name": "Script-dim_organisation_nature_category",
                        "type": "Script",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Script-dim_preferred_language",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "PSQL_CRM_APP",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "database_name": "crm"
                            }
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": "TRUNCATE TABLE iclub.dim_organisation_nature_category;\n\nINSERT INTO\n    iclub.dim_organisation_nature_category (id, code, name)\nSELECT a.id, v.code, v.name\nFROM (VALUES     \n    ('1', 'Academic Institution'),\n    ('2', 'Project Client (Developer/Estate Office/NGO/Statutory Body)'),\n    ('3', 'Consultant'),\n    ('4', 'Contractor'),\n    ('5', 'Government'),\n    ('6', 'Manufacturer/Supplier/Startup'),\n    ('7', 'Professional Body'),\n    ('8', 'Property Management Company'),\n    ('9', 'Research Body'),\n    ('10', 'Trade Association'),\n    ('11', 'Utility Organisation'),\n    ('12', 'Freelance'),\n    ('13', 'Others')\n    ) AS v (code, name)\n    JOIN app.dim_category AS a ON a.name = v.name\nON CONFLICT (code) DO NOTHING;"
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    },
                    {
                        "name": "Script-dim_organisation_nature_subcategory",
                        "type": "Script",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Script-dim_organisation_nature_category",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "PSQL_CRM_APP",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "database_name": "crm"
                            }
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": "\n\nTRUNCATE TABLE iclub.dim_organisation_nature_subcategory;\n\nINSERT INTO\n    iclub.dim_organisation_nature_subcategory (id,code, parent_code, name,category_id)\nSELECT a.id, v.code, v.parent_Code, v.name,c.id\nFROM (VALUES\n    ('101', '1', 'The Chinese University of Hong Kong'),\n    ('102', '1', 'Chu Hai College of Higher Education'),\n    ('103', '1', 'City University of Hong Kong'),\n    ('104', '1', 'The Hong Kong Polytechnic University'),\n    ('105', '1', 'The University of Hong Kong'),\n    ('106', '1', 'Hong Kong University of Science and Technology'),\n    ('107', '1', 'Technological and Higher Education Institute of Hong Kong'),\n    ('108', '1', 'Vocational Training Council'),\n    ('109', '1', 'Local - please indicate name'),\n    ('110', '1', 'Overseas - please indicate name'),\n    ('201', '2', 'Developer - please indicate name'),\n    ('202', '2', 'Estate Office (e.g. University Estate Office) - please indicate name'),\n    ('203', '2', 'NGO (e.g. HKCSS) - please indicate name'),\n    ('204', '2', 'Statutory Body - please indicate name'),\n    ('205', '2', 'Airport Authority Hong Kong'),\n    ('206', '2', 'Hong Kong Housing Authority'),\n    ('207', '2', 'Hong Kong Housing Society'),\n    ('208', '2', 'Hong Kong Cyberport'),\n    ('209', '2', 'Hong Kong Science and Technology Parks Corporation'),\n    ('210', '2', 'Hospital Authority'),\n    ('211', '2', 'MTR Corporation Limited'),\n    ('212', '2', 'University Estate Office - please indicate university'),\n    ('213', '2', 'Urban Renewal Authority'),\n    ('214', '2', 'West Kowloon Cultural District Authority'),\n    ('299', '2', 'Others - please indicate'),\n    ('301', '3', 'Architectural'),\n    ('302', '3', 'Building'),\n    ('303', '3', 'Building Services'),\n    ('304', '3', 'Building Surveying'),\n    ('305', '3', 'Building Information Modelling'),\n    ('306', '3', 'Civil Infrastructure and Development'),\n    ('307', '3', 'Drainage and Sewerage'),\n    ('308', '3', 'E&M'),\n    ('309', '3', 'Environmental'),\n    ('310', '3', 'Geotechnical and Slope'),\n    ('311', '3', 'Landscape Architectural'),\n    ('312', '3', 'Project Management'),\n    ('313', '3', 'Quantity Surveying'),\n    ('314', '3', 'Roads and Associated Structures'),\n    ('315', '3', 'Town Planning'),\n    ('316', '3', 'Traffic and Transport'),\n    ('317', '3', 'Structural Engineering'),\n    ('318', '3', 'Waterworks'),\n    ('319', '3', 'Firm of AP/TCP or individuals'),\n    ('320', '3', 'Firm of RSE/TCP or individual'),\n    ('321', '3', 'Firm of RGE/TCP or individual'),\n    ('322', '3', 'Firm of AS or individual'),\n    ('323', '3', 'Multiple disciplines'),\n    ('399', '3', 'Others - please indicate'),\n    ('401', '4', 'Buildings'),\n    ('402', '4', 'Port Works'),\n    ('403', '4', 'Roads and Drainage'),\n    ('404', '4', 'Site Formation'),\n    ('405', '4', 'Waterworks'),\n    ('406', '4', 'BD Registered General Building Contractor - please indicate category'),\n    ('407', '4', 'BD Registered Specialist Contractor - please indicate category'),\n    ('408', '4', 'CIC Registered Specialist Trade Contractor - please indicate category'),\n    ('409', '4', 'CIC Registered Subcontractor - please indicate category'),\n    ('410', '4', 'Multiple sectors'),\n    ('499', '4', 'Others - please indicate'),\n    ('501', '5', 'Policy Bureau (e.g. DEVB, ENB, THB)'),\n    ('502', '5', 'Department with project client/project management function (e.g. ArchSD, CEDD, DSD, EMSD, HyD, WSD)'),\n    ('503', '5', 'Department with regulatory function (e.g. BD, CEDD (GEO), EMSD, EPD, FSD, PlanD, LandsD, TD, WSD)'),\n    ('599', '5', 'Others - please indicate'),\n    ('601', '6', 'BIM products'),\n    ('602', '6', 'Building & civil construction materials'),\n    ('603', '6', 'Curtain wall'),\n    ('604', '6', 'Digitalisation products/Digital solutions'),\n    ('605', '6', 'E&M products'),\n    ('606', '6', 'MiC modules'),\n    ('607', '6', 'Precast concrete products'),\n    ('608', '6', 'Prefabricated steel rebar products'),\n    ('609', '6', 'Prefabricated MEP products'),\n    ('610', '6', 'System formwork'),\n    ('699', '6', 'Others - please indicate'),\n    ('701', '7', 'Hong Kong Institute of Architects - please indicate division'),\n    ('702', '7', 'Hong Kong Institution of Engineers - please indicate division'),\n    ('703', '7', 'Hong Kong Institute of Surveyors - please indicate division'),\n    ('704', '7', 'Institution of Civil Engineers'),\n    ('705', '7', 'Royal Institute of British Architects'),\n    ('706', '7', 'Royal Institution of Chartered Surveyors'),\n    ('707', '7', 'Hong Kong Institute of Building Information Modelling'),\n    ('708', '7', 'Hong Kong Institute of Construction Managers'),\n    ('709', '7', 'Institute of Materials, Minerals and Mining'),\n    ('799', '7', 'Others - please indicate'),\n    ('901', '9', 'Nano and Advanced Materials Institute (NAMI)'),\n    ('902', '9', 'The Centre for Innovation in Construction & Infrastructure Development (CICID)'),\n    ('903', '9', 'Logistics and Supply Chain MultiTech R&D Centre (LSCM)'),\n    ('904', '9', 'Hong Kong Applied Science and Technology Research Institute (ASTRI)'),\n    ('999', '9', 'Others - please indicate'),\n    ('1001', '10', 'Hong Kong Construction Association'),\n    ('1002', '10', 'Hong Kong General Building Contractors Association'),\n    ('1003', '10', 'Hong Kong Construction Materials Association'),\n    ('1004', '10', 'The HK Federation of Electrical & Mechanical Contractors'),\n    ('1005', '10', 'Hong Kong Construction Sub-Contractors Association'),\n    ('1006', '10', 'Association of Architectural Practices'),\n    ('1007', '10', 'Association of Consulting Engineers of Hong Kong'),\n    ('1008', '10', 'Association of Consultant Quantity Surveyors'),\n    ('1009', '10', 'The Hong Kong Air Conditioning and Refrigeration Association'),\n    ('1010', '10', 'Association of Geotechnical and Geoenvironmental Specialists (Hong Kong)'),\n    ('1099', '10', 'Others - please indicate'),\n    ('1101', '11', 'HK Electric'),\n    ('1102', '11', 'CLP Group'),\n    ('1103', '11', 'Hong Kong and China Gas Company Limited'),\n    ('1104', '11', 'Drainage Services Department'),\n    ('1105', '11', 'Water Supplies Department'),\n    ('1106', '11', 'Telecom company'),\n    ('1199', '11', 'Others - please indicate'),\n    ('1201', '12', 'AP - Authorized Person'),\n    ('1202', '12', 'RSE - Registered Structural Engineer'),\n    ('1203', '12', 'RGE - Registered Geotechnical Engineer'),\n    ('1204', '12', 'AS - Authorized Surveyor'),\n    ('1205', '12', 'TCP - Technically Competent Person'),\n    ('1206', '12', 'RSO - Registered Safety Officer'),\n    ('1301', '13', 'Others - please indicate')\n    ) AS v (code,parent_code, name)\n    JOIN app_tmp.dim_subcategory AS a ON a.name = v.name\n    LEFT JOIN iclub.dim_organisation_nature_category as c on c.code =v.parent_code\nON CONFLICT (code) DO NOTHING;\n"
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    },
                    {
                        "name": "Script-r_hashtag",
                        "type": "Script",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Script-dim_organisation_nature_subcategory",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "PSQL_CRM_APP",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "database_name": "crm"
                            }
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": "\nTRUNCATE TABLE iclub.r_hashtag_uat;\nINSERT INTO iclub.r_hashtag_uat\nSELECT \n    a.id as id_uuid,\n    \"Id\",\n    \"EnTitle\",\n    \"TcTitle\",\n    \"ScTitle\",\n    \"IsForCorpMember\",\n    \"IsForIndivMember\",\n    \"IsForExpertCorner\",\n    \"IsForEvent\",\n    \"IsForExhibit\",\n    \"Sequence\",\n    \"Status\",\n    \"CreatedBy\",\n    \"CreatedDate\",\n    \"UpdatedBy\",\n    \"UpdatedDate\", \n     adf_datetime\nFROM iclub.r_hashtag as V\nLEFT JOIN app.dim_preference AS a \non a.name = V.\"EnTitle\"\nwhere V.\"Status\"= True\nand a.id is not null;\n\n\nTRUNCATE TABLE iclub.r_hashtag;\nINSERT INTO iclub.r_hashtag\nselect * from iclub.r_hashtag_uat;\n"
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    },
                    {
                        "name": "Azure Function - Members",
                        "type": "AzureFunctionActivity",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Script-r_hashtag",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "iclub_member",
                            "body": {
                                "value": "@string('{}')",
                                "type": "Expression"
                            },
                            "headers": {},
                            "method": "POST"
                        },
                        "linkedServiceName": {
                            "referenceName": "FUNC_CRM_002_MEMBER",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Azure Function - MemberCPD",
                        "type": "AzureFunctionActivity",
                        "state": "Inactive",
                        "onInactiveMarkAs": "Succeeded",
                        "dependsOn": [
                            {
                                "activity": "Azure Function - Members",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "iclub_membercpd",
                            "body": {
                                "value": "@string('{}')",
                                "type": "Expression"
                            },
                            "headers": {},
                            "method": "POST"
                        },
                        "linkedServiceName": {
                            "referenceName": "FUNC_CRM_002_MEMBER",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-06-11T18:44:23Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_PSQL_CRM')]",
                "[concat(variables('factoryId'), '/linkedServices/PSQL_CRM_APP')]",
                "[concat(variables('factoryId'), '/linkedServices/FUNC_CRM_002_MEMBER')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ADLS_CSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "STA_CRM_001",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "container_name": {
                        "type": "string"
                    },
                    "directory_name": {
                        "type": "string"
                    },
                    "file_name": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().file_name",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().directory_name",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@dataset().container_name",
                            "type": "Expression"
                        }
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/STA_CRM_001')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_PSQL_CRM')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "PSQL_CRM_APP",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "database_name": {
                            "value": "@dataset().database_name",
                            "type": "Expression"
                        }
                    }
                },
                "parameters": {
                    "database_name": {
                        "type": "string",
                        "defaultValue": "iclub"
                    },
                    "schema_name": {
                        "type": "string",
                        "defaultValue": "landing"
                    },
                    "table_name": {
                        "type": "string",
                        "defaultValue": "members"
                    }
                },
                "annotations": [],
                "type": "AzurePostgreSqlTable",
                "schema": [],
                "typeProperties": {
                    "schema": {
                        "value": "@dataset().schema_name",
                        "type": "Expression"
                    },
                    "table": {
                        "value": "@dataset().table_name",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/PSQL_CRM_APP')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AKV_CRM_001')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[parameters('AKV_CRM_001_properties_typeProperties_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FUNC_CRM_002_INTEREST')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureFunction",
                "typeProperties": {
                    "functionAppUrl": "[parameters('FUNC_CRM_002_INTEREST_properties_typeProperties_functionAppUrl')]",
                    "authentication": "Anonymous",
                    "functionKey": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AKV_CRM_001",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "FUNC-CRM-002-INTEREST"
                    }
                },
                "connectVia": {
                    "referenceName": "ManagedIntegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/ManagedIntegrationRuntime')]",
                "[concat(variables('factoryId'), '/linkedServices/AKV_CRM_001')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/FUNC_CRM_002_MEMBER')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureFunction",
                "typeProperties": {
                    "functionAppUrl": "[parameters('FUNC_CRM_002_MEMBER_properties_typeProperties_functionAppUrl')]",
                    "authentication": "Anonymous",
                    "functionKey": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AKV_CRM_001",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "FUNC-CRM-002-MEMBER"
                    }
                },
                "connectVia": {
                    "referenceName": "ManagedIntegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/ManagedIntegrationRuntime')]",
                "[concat(variables('factoryId'), '/linkedServices/AKV_CRM_001')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/FUNC_CRM_002_MEMBERCPD')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureFunction",
                "typeProperties": {
                    "functionAppUrl": "[parameters('FUNC_CRM_002_MEMBERCPD_properties_typeProperties_functionAppUrl')]",
                    "authentication": "Anonymous",
                    "functionKey": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AKV_CRM_001",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "FUNC-CRM-002-MEMBERCPD"
                    }
                },
                "connectVia": {
                    "referenceName": "ManagedIntegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/ManagedIntegrationRuntime')]",
                "[concat(variables('factoryId'), '/linkedServices/AKV_CRM_001')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PSQL_CRM_APP')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "parameters": {
                    "database_name": {
                        "type": "string",
                        "defaultValue": "crm"
                    }
                },
                "annotations": [],
                "type": "AzurePostgreSql",
                "version": "2.0",
                "typeProperties": {
                    "server": "[parameters('PSQL_CRM_APP_properties_typeProperties_server')]",
                    "port": "5432",
                    "database": "[parameters('PSQL_CRM_APP_properties_typeProperties_database')]",
                    "sslMode": 2,
                    "username": "[parameters('PSQL_CRM_APP_properties_typeProperties_username')]",
                    "password": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AKV_CRM_001",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "POSTGRES-PASSWORD"
                    },
                    "authenticationType": "Basic"
                },
                "connectVia": {
                    "referenceName": "ManagedIntegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/ManagedIntegrationRuntime')]",
                "[concat(variables('factoryId'), '/linkedServices/AKV_CRM_001')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/STA_CRM_001')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "serviceEndpoint": "[parameters('STA_CRM_001_properties_typeProperties_serviceEndpoint')]",
                    "accountKind": "StorageV2"
                },
                "connectVia": {
                    "referenceName": "ManagedIntegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/ManagedIntegrationRuntime')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/trigger1')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 15,
                        "startTime": "2026-06-13T03:37:00",
                        "timeZone": "China Standard Time"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 0
                        }
                    }
                },
                "managedVirtualNetwork": {
                    "type": "ManagedVirtualNetworkReference",
                    "referenceName": "default"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureIntegrationRuntime')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "East Asia",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 10,
                            "cleanup": false,
                            "customProperties": []
                        }
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ManagedIntegrationRuntime')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "East Asia",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 10,
                            "cleanup": false,
                            "customProperties": []
                        },
                        "pipelineExternalComputeScaleProperties": {
                            "timeToLive": 30,
                            "numberOfPipelineNodes": 1,
                            "numberOfExternalNodes": 1
                        }
                    }
                },
                "managedVirtualNetwork": {
                    "type": "ManagedVirtualNetworkReference",
                    "referenceName": "default"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/default/MPE-PSQL_CRM_001')]",
            "type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
            "apiVersion": "2018-06-01",
            "properties": {
                "privateLinkResourceId": "[parameters('MPE-PSQL_CRM_001_properties_privateLinkResourceId')]",
                "groupId": "[parameters('MPE-PSQL_CRM_001_properties_groupId')]"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/default/MPE-STA_CRM_001')]",
            "type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
            "apiVersion": "2018-06-01",
            "properties": {
                "privateLinkResourceId": "[parameters('MPE-STA_CRM_001_properties_privateLinkResourceId')]",
                "groupId": "[parameters('MPE-STA_CRM_001_properties_groupId')]"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/default')]",
            "type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
            "apiVersion": "2018-06-01",
            "properties": {},
            "dependsOn": []
        }
    ]
}
